
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;

}

.flex{
  display: flex;
  align-items: center;
}

/*  header area  */

.header_area {
  height: 60px;

}


.logo {
  float: left;
  width: 30%;
}

.logo img {
  margin-left: 150px;
  /* ~ changes */
  /* padding-left: 100px; */
  /* padding-top: 20px; */
  width: 150px;
  height: 80px;
  /* border-radius: 45%; */
}


.right_header_area {
  display: flex;
  float: right;
  width: 30%;
  overflow: hidden;
}

.social_area{
  margin-right: 20px;
}
.social_area ul {
  list-style: none;
  margin-top: 30px;
  /* padding:0px 12px; */

}

.social_area ul li {
  display: inline-block;
  
  padding: 12px 14px;
  color: white;
  background-color: #004aad;
  border-radius: 50%;
}

.social_area i {
  color: white;
}

.hamburger ul li {
  display: inline-block;
  margin-top: 21px;
  padding-left: 12px;
   font-size: 22px;
  color: #004aad;
}

.hamburger .icon {
  color: #004aad;
}

#main_menu {
  display: none;
  background-color: #004aad;
  opacity: 80%;
  clear: both;
  position: relative;
}


#main_menu ul {
  list-style: none;
  clear: both;
  margin-left: 46px;
  padding-bottom: 40px;
}

#main_menu li {
  padding-top: 40px;
  font-size: 16px;
  font-weight: 400;
}

#menu a {
  text-decoration: none;
  color: white;
}

#menu a:hover {
  color: #d8bfa2;
}


/*  BANNER AREA */

.banner_area {
  /* height: 656px; */
  height: 800px;
  width: 100%;
  /* background-color: #cccccc; */
  background: url(https://lirp.cdn-website.com/md/unsplash/dms3rep/multi/opt/photo-1506521781263-d8422e82f27a-1920w.jpg);
  /* opacity: 80%; */
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.banner_area h2 {
  padding-top: 212px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
}

.banner_area h3 {
  font-weight: 400;
  font-size: 22px;
}

/* .btn1 {
  margin-top: 10px;
  width:212px;
  height: 57px;
  color: white;
  background-color: #004aad;
  border: none;
  border-radius: 5px;
}*/




/*  EVENT AREA  */

.event_area {
  position: relative;
  height: 656px;
  width: 100%;
  opacity: 90%;
  background:radial-gradient(#bde0fe,#004aad);
  /* background: conic-gradient(from 300deg,#004aad,#bde0fe); */
  /* background: url("https://static.toiimg.com/thumb/resizemode-4,msid-69727503,width-1200,height-900/69727503.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.inner_div{
  border-radius: 10px;
  min-width: 40vw;
  min-height: 40vh;
  background-color:#004aad;
  box-shadow: 0rem 1rem 1rem 0.7rem #004aad;

}
#mainheading{
  text-align: center;
  text-transform: uppercase;
  color: white;
}

#Parking-at{
 min-width: 400px;
 /* max-width: 1000px; */
 margin-left: 40px;
 border: none;
 height: 40px;
 margin-bottom: 20px;
 margin-top: 10px;

}
.p1{
  margin-left: 40px;
  color: white;

}
#Arriving-at{
  min-width: 400px;
  /* max-width: 1000px; */
  margin-left: 42px;
  border: none;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
 }
 .p2{
  margin-left: 40px;
  color: white;
 }
 .btn2 {
  width: 170px;
  height: 57px;
  margin-left: 200px;
  border: none;
  border-radius: 5px;
  font-size: larger;
} 


.pic-1{
  position: relative;
}

.pic-1 img {
  width: 100%;
}

.pic-2 {
  position: absolute;
  top: 0;
  bottom: 10px;
}

.pic-2 img {
  height: 100%;
  max-height: 100%;
}

.event_text  {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 86px;
}

.event_text h1 {
  font-size: 26px;
  font-weight: 400;
  opacity: 2;
   line-height: 0.8em;
}

.event_text h3 {
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
  z-index: 2;
}

.event_text button {
  border: none;
  width: 170px;
  height: 60px;
}


/*  SERVICE AREA  */

.service_area .title {
  text-align: center;
}

.service_area .title h2 {
  padding-top: 30px;
  font-size: 26px;
  font-weight: 400;
}

.service_area .title h4 {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  color: #004aad;
}

.main_service {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.main_service .childservice_main {
  position: relative;
  max-width: 640px;
  margin: 10px;
  padding: 50px 10px 20px auto;
  margin-bottom: 80px;
  display: flex;
}

.child_service h3 {
  font-size: 20px;
}

.child_service h5 {
  color: #004aad;
  font-size: 15px;
  text-align: justify;
}

.service-img {
  background-color: #004aad;
  padding:  35px 45px;
  border-radius: 50%;
  width: 60%;
}

.left_servicetext_h3 {
  text-align: right;
}

.left_servicetext_h5 {
  text-align: left;
  width: 100%;
}

.right_servicetext_h3 h3 {
  width: 100%;
}

.main_service .childservice_main .child_service {
  margin-left: 47px;
}

.main_service .childservice_main .service-img {
  margin-left: 47px;
}


/*  TESTIMONIAL AREA  */


.testimonial_area {
  position: relative;
  height: 702px;
  color: white;
}

.testimonial_background {
  position: absolute;
  width: 100%;
  height:100%;
  opacity: 90%;
  /* background:linear-gradient(#004aad,#bde0fe); */
  background-color: #004aad;
}

.testimonial_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

social-media{
  display: flex;
  flex-direction: column;
}

.company-logo{
  display: flex;
}

#logo-2{
  position: absolute;
  height: 300px;
  width: 300px;
  left: 169px;
  top: 120px;
  border-radius: 100px
}

/* #logo-name-2{
  position: absolute;
  width: 127.67px;
  height: 41px;
  left: 300px;
  top: 130px;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 46px;
  line-height: 58.51px;
  color:var(--primary-text-color);
} */
#tagline-2{
  position: absolute;
  width: 120px;
  height: 20px;
  left: 300px;
  top: 171px;
  margin-top: 10px;
  /* font-family: 'Montserrat'; */
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
  color: var(--primary-text-color);
}

.company-text{
  position: absolute;
  color: var(--primary-text-color);
  height: 125px;
  width: 340px;
  left: 200px;
  top: 430px;
  font-size: 25px;
/* border-radius: nullpx; */
}

#author{
  font-weight: 900;
}

.social-media-channels{
  position: absolute;
  top:370px;
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  left: 160px;
  color:var(--primary-text-color);
  filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.7));
}

::placeholder {
  position: absolute;
  width: 120px;
  height: 21px;
  left: 20px;
  top: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* padding-left: 5px; */
  /* text-align: ; */
  /* identical to box height */
  color: rgba(0, 0, 0, 0.5);
}

.Quick-links{
  position: absolute;
  top: 114px;
  color: var(--primary-text-color);
  width: 222px;
  height: 92px;
  font-size: 20px;
  /* text-align: center; */
  
}

.main-heading-5{
  text-decoration: underline;
  margin-bottom: 25px;
}

.Quick-links ul a{
  color: var(--primary-text-color);
  top: 209px;
  font-size: 30px;
  line-height: 100px;
  /* letter-spacing: px; */
  text-decoration: none;

  

}

.contact-us{
  position: absolute;
  color: var(--primary-text-color);
  top: 110px;
  left: 949px;
}

.main-heading-6{
  text-decoration: underline;
  font-size: 30px;
  
}

#name{
  position: absolute;
  top: 80px;
  width: 370px;
  height: 67px;
  background: rgba(255,255,255);
  border: 5px solid var(--primary-text-color);
  border-radius: 10px;
  font-size: 20px;
  color: var(--primary-background-color);
  margin-top: 20px;
}
#message{
  position: absolute;
  top: 160px;
  width: 370px;
  height: 134px;
  background: rgba(255,255,255);
  border: 5px solid var(--primary-text-color);
  border-radius: 10px;
  font-size: 20px;
  color: var(--primary-background-color);
  margin-top: 30px;

}

.send-btn{
  position: absolute;
  top: 320px;
  width: 138px;
  height: 53px;
  background: rgba(255,255,255);
  border: 5px solid var(--primary-text-color);
  border-radius: 10px;
  margin-top: 25px;
  font-weight: bolder;
  font-size: large;
}
/* .company-logo{
    width: 100px;
    height: 100px;

} */

/* .testimonial_title {
  position: relative;
  align-items: center;
  width: 100%;
}
 

.testimonial_text  {
  text-align: center;
  color: #f8f9fb;
  font-size: 42px;
  padding-top: 80px;
}

.testimonial_flex{
  position: relative;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  width: 100%;
  justify-content: space-evenly;
}

.testimonial_grid{
  max-width: 412px;
}



.testimonial_grid h3 {
  font-size: 24px;
  font-style: italic;
  color: #636360;
}

.testimonial_grid h5 {
  width: 95%;
  font-size: 22px;
  height: 140px;
  color: #636360;
}

.testimonial_grid h5:hover {
  color: #fff;
}

.testimonial_grid h3:hover {
  color: #fff;
} */


/*  RECENT BLOG   */


.recent_blog .recentblog_title{
  
  background-color: #f8f9fb;
  text-align: center;
  width: 100%;
}

.recent_blog {
  margin-top: -30px;
  background-color: #f8f9fb;
  padding-bottom: 100px;
}

.recentblog_title h1 {
  font-size: 42px;
  padding-top: 80px;
  line-height: 0.8em;
}

.recentblog_title h4 {
  font-size: 16px;
  font-style: italic;
  color: #e9a3a6;
}

.main_blog_grid {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f8f9fb;
  justify-content: center;
  

}

.blog_grid {
  width: 352px;
  padding-bottom: 50px;
  padding: 20px;
}


.blog_dates {
  margin-top: 0;
  /* changes */
  width: 103px;
  height: 296px;
  background-color: #ebe2d9;
  display: inline-block;
  /* float: left; */
  margin-top: -3px;
  margin-right: 20px;
}

.blog_dates h2 {
  padding-top: 20px;
  color: #b69874;
  font-size: 48px;
  text-align: center;
  font-family: light;
  line-height: 0em;
}

.blog_dates h5 {
  color: #d1c2b3;
  font-size: 18px;
  text-align: center;
  line-height: 0em;
}

.blog_p {
  background-color: #ffffff;
  margin-top: -22px;
  height: 274px;
  padding-top: 40px;
}

.blog_p p {
  width: 90%;
  font-size: 14px;
  color: #999999;
}

.blog_p h3 {
  font-size: 22px;
}


/*  FOOTER AREA  */


.newsletter_area {
  background-color: #171717;
  height: 480px;
  text-align: center;
  margin-top: -35px;
}

.newsletter_area h1 {
  padding-top: 112px;
  color: #fff;
  font-size: 48px;
  font-weight: lighter;
}

.search_area input[type="text"]{
  background-color: #fff; 
  border: 0; 
  border-radius: 5px 0 0 5px; 
  padding: 10px;
  font-weight: 600; 
  font-size: 16px; 
  width: 418px;
  height: 35px;
  margin-bottom: 50px;
}

.search_area input[type="submit"]{
  background-color: #b59877; 
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0; 
  font-weight: 600; 
  font-size: 16px; 
  width: 142px; cursor: pointer;
  transition: 0.5s;
  height: 55px;
  padding: 15px auto;
  
}

::placeholder{
  color: black;
  padding-left: 20px;
}

.search_area input[type="text"] input[type="submit"] {
  margin: 0;
}

.footer_area span {
  color: white;
  padding-right: 30px;
  font-size: 16px;
}
#tagline{
  font-weight: 400;
}
.footer-links{
  list-style: none;
  

}
